* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#inner_header {
    display: table;
    width: 1000px;
    max-width: 1000px;
    min-width: 500px;
    margin: auto;
    text-align: center;
    height: 60px;
    background-color: antiquewhite;
}

ul {
    display: flex;
    float: right;
    margin: 35px;
}

li a {
    font-size: 20px;
    font-family: "Helvetica";
    color: black;
    margin: 20px;
}

#active {
    border-bottom: solid 2px black;
}