body {
    overflow-y: scroll;
}

#main {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-40%);
    width: 1500px;
}

.all {
    transition: all 0.5s;
}

#main div:not(.competence) {
    margin: 75px 30px 75px 30px;
    background-color: white;
    box-shadow: 1px 1px 3px black;
}

#main div img {
    width: 350px;
    height: 250px;
}

.active {
    transition: all 0.5s;
    border-radius: 15px;
    background-color: #4EB2E1;
    color: white;
}

.competence {
    display: flex;
    text-align: center;
}

#main h3 {
    margin: 15px;
    padding: 5px;
    width: 100%;
    font-size: 18px;
    color: white;
    border-radius: 35px;
    font-family: Arial;
    font-weight: bold;
}

#chooseType {
    display: flex;
    cursor: pointer;
    padding-top: 70px;
    justify-content: center;
    width: 100%;
}

#chooseType h1 {
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 15px;
    padding: 5px 20px 5px 20px;
}

#chooseType #active {
    background-color: #4EB2E1;
    border-radius: 15px;
    color: white;
}


/* Language Color */

.HTML {
    background-color: #DD4B25;
}

.CSS {
    background-color: #1578BA;
}

.JS {
    background-color: #E6C72F;
}

.Csharp {
    background-color: #9668D9;
}

.Unity {
    background-color: #212B35;
}

.Jquery {
    background-color: #55BAA2;
}

.Photon {
    background-color: #2B8FD8;
}